import pandas as pd

In [2]:
attack = pd.read_csv('data/attacks.csv', encoding='latin1')
attack.head()

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,...,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,NaN,NaN
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,...,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,NaN,NaN

In [3]:
attack.shape

(25723, 24)

In [4]:
len(attack)

25723

In [5]:
attack.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25723 entries, 0 to 25722
Data columns (total 24 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Case Number             8702 non-null   object
 1   Date                    6302 non-null   object
 2   Year                    6300 non-null   float64
 3   Type                    6298 non-null   object
 4   Country                 6252 non-null   object
 5   Area                    5847 non-null   object
 6   Location                5762 non-null   object
 7   Activity                5758 non-null   object
 8   Name                    6092 non-null   object
 9   Sex                     5737 non-null   object
 10  Age                     3471 non-null   object
 11  Injury                  6274 non-null   object
 12  Fatal (Y/N)             5763 non-null   object
 13  Time                    2948 non-null   object
 14  Species                 3464 non-null   object
 15  Investigator or Source  6285 non-null   object
 16  pdf                     6302 non-null   object
 17  href formula            6301 non-null   object
 18  href                    6302 non-null   object
 19  Case Number.1           6302 non-null   object
 20  Case Number.2           6302 non-null   object
 21  original order          6309 non-null   float64
 22  Unnamed: 22             1 non-null      object
 23  Unnamed: 23             2 non-null      object
dtypes: float64(2), object(22)
memory usage: 4.7+ MB

In [6]:
attack.describe()

              Year  original order
count  6300.000000     6309.000000
mean   1927.272381     3155.999683
std     281.116308     1821.396206
min       0.000000        2.000000
25%    1942.000000     1579.000000
50%    1977.000000     3156.000000
75%    2005.000000     4733.000000
max    2018.000000     6310.000000

In [7]:
column_order = ['Case Number', 'Date', 'Year', 'Time', 'Country', 'Area', 'Location',
      'Type', 'Activity', 'Name', 'Sex ', 'Age', 'Injury', 'Fatal (Y/N)', 
       'Species ', 'Investigator or Source', 'pdf', 'href formula', 'href',
       'Case Number.1', 'Case Number.2', 'original order', 'Unnamed: 22',
       'Unnamed: 23']

In [8]:
attack = attack[column_order]
attack.head()

,Case Number,Date,Year,Time,Country,Area,Location,Type,Activity,Name,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2018.06.25,25-Jun-2018,2018.0,18h00,USA,California,"Oceanside, San Diego County",Boating,Paddling,Julie Wolfe,...,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,2018.06.18,18-Jun-2018,2018.0,14h00 -15h00,USA,Georgia,"St. Simon Island, Glynn County",Unprovoked,Standing,Adyson McNeely,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN
2,2018.06.09,09-Jun-2018,2018.0,07h45,USA,Hawaii,"Habush, Oahu",Invalid,Surfing,John Denges,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN
3,2018.06.08,08-Jun-2018,2018.0,NaN,AUSTRALIA,New South Wales,Arrawarra Headland,Unprovoked,Surfing,male,...,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,NaN,NaN
4,2018.06.04,04-Jun-2018,2018.0,NaN,MEXICO,Colima,La Ticla,Provoked,Free diving,Gustavo Ramos,...,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,NaN,NaN

In [9]:
attack.columns = [column.lower().replace(' ', '_') for column in attack.columns]

In [10]:
attack.head()

,case_number,date,year,time,country,area,location,type,activity,name,...,species_,investigator_or_source,pdf,href_formula,href,case_number.1,case_number.2,original_order,unnamed:_22,unnamed:_23
0,2018.06.25,25-Jun-2018,2018.0,18h00,USA,California,"Oceanside, San Diego County",Boating,Paddling,Julie Wolfe,...,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,2018.06.18,18-Jun-2018,2018.0,14h00 -15h00,USA,Georgia,"St. Simon Island, Glynn County",Unprovoked,Standing,Adyson McNeely,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN
2,2018.06.09,09-Jun-2018,2018.0,07h45,USA,Hawaii,"Habush, Oahu",Invalid,Surfing,John Denges,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN
3,2018.06.08,08-Jun-2018,2018.0,NaN,AUSTRALIA,New South Wales,Arrawarra Headland,Unprovoked,Surfing,male,...,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,NaN,NaN
4,2018.06.04,04-Jun-2018,2018.0,NaN,MEXICO,Colima,La Ticla,Provoked,Free diving,Gustavo Ramos,...,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,NaN,NaN

In [11]:
attack['new_age'] = pd.to_numeric(attack.age, errors='coerce')
attack.head()

,case_number,date,year,time,country,area,location,type,activity,name,...,investigator_or_source,pdf,href_formula,href,case_number.1,case_number.2,original_order,unnamed:_22,unnamed:_23,new_age
0,2018.06.25,25-Jun-2018,2018.0,18h00,USA,California,"Oceanside, San Diego County",Boating,Paddling,Julie Wolfe,...,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN,57.0
1,2018.06.18,18-Jun-2018,2018.0,14h00 -15h00,USA,Georgia,"St. Simon Island, Glynn County",Unprovoked,Standing,Adyson McNeely,...,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN,11.0
2,2018.06.09,09-Jun-2018,2018.0,07h45,USA,Hawaii,"Habush, Oahu",Invalid,Surfing,John Denges,...,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN,48.0
3,2018.06.08,08-Jun-2018,2018.0,NaN,AUSTRALIA,New South Wales,Arrawarra Headland,Unprovoked,Surfing,male,...,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,NaN,NaN,NaN
4,2018.06.04,04-Jun-2018,2018.0,NaN,MEXICO,Colima,La Ticla,Provoked,Free diving,Gustavo Ramos,...,A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,NaN,NaN,NaN

In [39]:
attack['new_year'] = pd.to_numeric(attack.year, errors='coerce')
attack.head()

,case_number,date,year,time,country,area,location,type,activity,name,...,pdf,href_formula,href,case_number.1,case_number.2,original_order,unnamed:_22,unnamed:_23,new_age,new_year
0,2018.06.25,25-Jun-2018,2018.0,18h00,USA,California,"Oceanside, San Diego County",Boating,Paddling,Julie Wolfe,...,2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN,57.0,2018.0
1,2018.06.18,18-Jun-2018,2018.0,14h00 -15h00,USA,Georgia,"St. Simon Island, Glynn County",Unprovoked,Standing,Adyson McNeely,...,2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN,11.0,2018.0
2,2018.06.09,09-Jun-2018,2018.0,07h45,USA,Hawaii,"Habush, Oahu",Invalid,Surfing,John Denges,...,2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN,48.0,2018.0
3,2018.06.08,08-Jun-2018,2018.0,NaN,AUSTRALIA,New South Wales,Arrawarra Headland,Unprovoked,Surfing,male,...,2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,NaN,NaN,NaN,2018.0
4,2018.06.04,04-Jun-2018,2018.0,NaN,MEXICO,Colima,La Ticla,Provoked,Free diving,Gustavo Ramos,...,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,NaN,NaN,NaN,2018.0

In [12]:
attack.columns

Index(['case_number', 'date', 'year', 'time', 'country', 'area', 'location',
       'type', 'activity', 'name', 'sex_', 'age', 'injury', 'fatal_(y/n)',
       'species_', 'investigator_or_source', 'pdf', 'href_formula', 'href',
       'case_number.1', 'case_number.2', 'original_order', 'unnamed:_22',
       'unnamed:_23', 'new_age'],
      dtype='object')

In [13]:
attack_vars = attack[['case_number', 'date', 'year', 'time', 'country', 'area', 'location',
       'type', 'activity', 'name', 'sex_', 'age', 'injury', 'fatal_(y/n)',
       'species_']]
attack_vars.head()

,case_number,date,year,time,country,area,location,type,activity,name,sex_,age,injury,fatal_(y/n),species_
0,2018.06.25,25-Jun-2018,2018.0,18h00,USA,California,"Oceanside, San Diego County",Boating,Paddling,Julie Wolfe,F,57,"No injury to occupant, outrigger canoe and pad...",N,White shark
1,2018.06.18,18-Jun-2018,2018.0,14h00 -15h00,USA,Georgia,"St. Simon Island, Glynn County",Unprovoked,Standing,Adyson McNeely,F,11,Minor injury to left thigh,N,NaN
2,2018.06.09,09-Jun-2018,2018.0,07h45,USA,Hawaii,"Habush, Oahu",Invalid,Surfing,John Denges,M,48,Injury to left lower leg from surfboard skeg,N,NaN
3,2018.06.08,08-Jun-2018,2018.0,NaN,AUSTRALIA,New South Wales,Arrawarra Headland,Unprovoked,Surfing,male,M,NaN,Minor injury to lower leg,N,2 m shark
4,2018.06.04,04-Jun-2018,2018.0,NaN,MEXICO,Colima,La Ticla,Provoked,Free diving,Gustavo Ramos,M,NaN,Lacerations to leg & hand shark PROVOKED INCIDENT,N,"Tiger shark, 3m"

In [14]:
len(attack.columns)

25

In [15]:
len(attack_vars.columns)

15

In [27]:
attack_us = attack_vars.query('country == "USA" and type == "Unprovoked"')
attack_us.head()

,case_number,date,year,time,country,area,location,type,activity,name,sex_,age,injury,fatal_(y/n),species_
1,2018.06.18,18-Jun-2018,2018.0,14h00 -15h00,USA,Georgia,"St. Simon Island, Glynn County",Unprovoked,Standing,Adyson McNeely,F,11,Minor injury to left thigh,N,NaN
7,2018.05.27,27-May-2018,2018.0,NaN,USA,Florida,"Lighhouse Point Park, Ponce Inlet, Volusia County",Unprovoked,Fishing,male,M,52,Minor injury to foot. PROVOKED INCIDENT,N,"Lemon shark, 3'"
8,2018.05.26.b,26-May-2018,2018.0,17h00,USA,Florida,"Cocoa Beach, Brevard County",Unprovoked,Walking,Cody High,M,15,Lower left leg bitten,N,"Bull shark, 6'"
9,2018.05.26.a,26-May-2018,2018.0,14h00,USA,Florida,"Daytona Beach, Volusia County",Unprovoked,Standing,male,M,12,Minor injury to foot,N,NaN
11,2018.05.21,21-May-2018,2018.0,NaN,USA,South Carolina,"Isle of Palms, Charleston County",Unprovoked,Boogie boarding,Trey de Boer,M,10,Injuries to lower right leg and foot,N,NaN

In [33]:
attack_type = attack_vars.query('type == "Unprovoked" and year > 2007 and year <= 2018')
attack_type.head()

,case_number,date,year,time,country,area,location,type,activity,name,sex_,age,injury,fatal_(y/n),species_
1,2018.06.18,18-Jun-2018,2018.0,14h00 -15h00,USA,Georgia,"St. Simon Island, Glynn County",Unprovoked,Standing,Adyson McNeely,F,11,Minor injury to left thigh,N,NaN
3,2018.06.08,08-Jun-2018,2018.0,NaN,AUSTRALIA,New South Wales,Arrawarra Headland,Unprovoked,Surfing,male,M,NaN,Minor injury to lower leg,N,2 m shark
5,2018.06.03.b,03-Jun-2018,2018.0,NaN,AUSTRALIA,New South Wales,"Flat Rock, Ballina",Unprovoked,Kite surfing,Chris,M,NaN,"No injury, board bitten",N,NaN
6,2018.06.03.a,03-Jun-2018,2018.0,Late afternoon,BRAZIL,Pernambuco,"Piedade Beach, Recife",Unprovoked,Swimming,Jose Ernesto da Silva,M,18,FATAL,Y,Tiger shark
7,2018.05.27,27-May-2018,2018.0,NaN,USA,Florida,"Lighhouse Point Park, Ponce Inlet, Volusia County",Unprovoked,Fishing,male,M,52,Minor injury to foot. PROVOKED INCIDENT,N,"Lemon shark, 3'"

In [34]:
Country = attack_type['country']
Country.value_counts()

USA                                      486
AUSTRALIA                                198
SOUTH AFRICA                              61
BAHAMAS                                   33
REUNION                                   21
BRAZIL                                    18
NEW CALEDONIA                             16
NEW ZEALAND                               15
EGYPT                                     15
MEXICO                                    14
FRENCH POLYNESIA                          12
SPAIN                                      9
VIETNAM                                    9
FIJI                                       8
ECUADOR                                    6
MOZAMBIQUE                                 6
INDONESIA                                  6
COSTA RICA                                 5
PHILIPPINES                                4
JAPAN                                      4
CUBA                                       3
THAILAND                                   3
RUSSIA                                     3
COLUMBIA                                   3
SEYCHELLES                                 3
JAMAICA                                    2
TONGA                                      2
KENYA                                      2
TURKS & CAICOS                             2
MALAYSIA                                   2
PAPUA NEW GUINEA                           2
DOMINICAN REPUBLIC                         2
SOLOMON ISLANDS                            2
ST HELENA, British overseas territory      2
PANAMA                                     2
ARUBA                                      1
DIEGO GARCIA                               1
CROATIA                                    1
CHINA                                      1
TAIWAN                                     1
Fiji                                       1
MALDIVES                                   1
UNITED ARAB EMIRATES (UAE)                 1
MADAGASCAR                                 1
UNITED KINGDOM                             1
NIGERIA                                    1
MAURITIUS                                  1
KIRIBATI                                   1
BELIZE                                     1
UNITED ARAB EMIRATES                       1
FRANCE                                     1
PUERTO RICO                                1
MALTA                                      1
GUAM                                       1
ISRAEL                                     1
SAMOA                                      1
SOUTH KOREA                                1
SCOTLAND                                   1
Name: country, dtype: int64

In [46]:
Country = attack_type['country']
Country.value_counts(normalize=True)

USA                                      0.484064
AUSTRALIA                                0.197211
SOUTH AFRICA                             0.060757
BAHAMAS                                  0.032869
REUNION                                  0.020916
BRAZIL                                   0.017928
NEW CALEDONIA                            0.015936
NEW ZEALAND                              0.014940
EGYPT                                    0.014940
MEXICO                                   0.013944
FRENCH POLYNESIA                         0.011952
SPAIN                                    0.008964
VIETNAM                                  0.008964
FIJI                                     0.007968
ECUADOR                                  0.005976
MOZAMBIQUE                               0.005976
INDONESIA                                0.005976
COSTA RICA                               0.004980
PHILIPPINES                              0.003984
JAPAN                                    0.003984
CUBA                                     0.002988
THAILAND                                 0.002988
RUSSIA                                   0.002988
COLUMBIA                                 0.002988
SEYCHELLES                               0.002988
JAMAICA                                  0.001992
TONGA                                    0.001992
KENYA                                    0.001992
TURKS & CAICOS                           0.001992
MALAYSIA                                 0.001992
PAPUA NEW GUINEA                         0.001992
DOMINICAN REPUBLIC                       0.001992
SOLOMON ISLANDS                          0.001992
ST HELENA, British overseas territory    0.001992
PANAMA                                   0.001992
ARUBA                                    0.000996
DIEGO GARCIA                             0.000996
CROATIA                                  0.000996
CHINA                                    0.000996
TAIWAN                                   0.000996
Fiji                                     0.000996
MALDIVES                                 0.000996
UNITED ARAB EMIRATES (UAE)               0.000996
MADAGASCAR                               0.000996
UNITED KINGDOM                           0.000996
NIGERIA                                  0.000996
MAURITIUS                                0.000996
KIRIBATI                                 0.000996
BELIZE                                   0.000996
UNITED ARAB EMIRATES                     0.000996
FRANCE                                   0.000996
PUERTO RICO                              0.000996
MALTA                                    0.000996
GUAM                                     0.000996
ISRAEL                                   0.000996
SAMOA                                    0.000996
SOUTH KOREA                              0.000996
SCOTLAND                                 0.000996
Name: country, dtype: float64

In [ ]:
Activity = attack['activity']
Activity.value_counts()

In [45]:
Activity = attack['activity']
Activity.value_counts(normalize=True)

Surfing                                                                             0.168635
Swimming                                                                            0.150920
Fishing                                                                             0.074852
Spearfishing                                                                        0.057833
Bathing                                                                             0.028135
                                                                                      ...
Floating on an inflatable raft                                                      0.000174
Fishingat                                                                           0.000174
Overcome by CO fumes, fell overboard from 36' fishing cruiser & prop slashed arm    0.000174
Bathing in 3' to 4' of water                                                        0.000174
Hunting lobsters in 2.4 m of water                                                  0.000174
Name: activity, Length: 1532, dtype: float64

In [44]:
Age = attack['new_age']
Age.mean()

27.36835856337192

In [25]:
attack_type.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 111 entries, 747 to 2073
Data columns (total 15 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   case_number  111 non-null    object
 1   date         111 non-null    object
 2   year         111 non-null    float64
 3   time         59 non-null     object
 4   country      111 non-null    object
 5   area         104 non-null    object
 6   location     102 non-null    object
 7   type         111 non-null    object
 8   activity     110 non-null    object
 9   name         108 non-null    object
 10  sex_         106 non-null    object
 11  age          69 non-null     object
 12  injury       111 non-null    object
 13  fatal_(y/n)  110 non-null    object
 14  species_     88 non-null     object
dtypes: float64(1), object(14)
memory usage: 13.9+ KB

In [50]:
attack.species_

0            White shark
1                    NaN
2                    NaN
3              2 m shark
4        Tiger shark, 3m
              ...
25718                NaN
25719                NaN
25720                NaN
25721                NaN
25722                NaN
Name: species_, Length: 25723, dtype: object

In [56]:
Species = attack['species_']
Species.value_counts()

White shark                                                                                   163
Shark involvement prior to death was not confirmed                                            105
Invalid                                                                                       102
Shark involvement not confirmed                                                                88
Tiger shark                                                                                    73
                                                                                             ...
36"  shark                                                                                      1
7-gill shark?                                                                                   1
On 11-Jan-1994, his remains washed ashore. A 2.4 m [8'] tiger shark thought to be involved      1
White shark, 2m to 3 m                                                                          1
White shark, 14' to 18'                                                                         1
Name: species_, Length: 1549, dtype: int64

In [37]:
attack_species = attack_vars.query('type == "Unprovoked" and species_ == "White shark"')
attack_species.head()

,case_number,date,year,time,country,area,location,type,activity,name,sex_,age,injury,fatal_(y/n),species_
34,2018.04.03,03-Apr-2018,2018.0,15h00,SOUTH AFRICA,Eastern Cape Province,St. Francis Bay,Unprovoked,Surfing,Ross Spowart,M,19,Lacerations to left knee & lower leg,N,White shark
155,2017.04.17.a,17-Apr-2017,2017.0,16h00,AUSTRALIA,Western Australia,Kelpies near Wylie Bay,Unprovoked,Surfing,Laeticia Brouwer,F,17,FATAL,Y,White shark
197,2016.12.01,01-Dec-2016,2016.0,09h00,AUSTRALIA,New South Wales,Booti Booti National Park,Unprovoked,Surfing,Colin Rowland,M,65,Injuries to foot & arm,N,White shark
258,2016.06.23,23-Jun-2016,2016.0,NaN,SOUTH AFRICA,Western Cape Province,Ryspunt,Unprovoked,Spearfishing,Rene Nel,M,43,Injuries to left leg & right hand,N,White shark
271,2016.05.31,31-May-2016,2016.0,16h00,AUSTRALIA,Western Australia,"Falcon Beach, Mandurah",Unprovoked,Surfing,Ben Gerring,M,29,FATAL,Y,White shark

In [39]:
Type = attack['type']
Type

0           Boating
1        Unprovoked
2           Invalid
3        Unprovoked
4          Provoked
            ...
25718           NaN
25719           NaN
25720           NaN
25721           NaN
25722           NaN
Name: type, Length: 25723, dtype: object

In [38]:
Type.value_counts()

Unprovoked      4595
Provoked         574
Invalid          547
Sea Disaster     239
Boating          203
Boat             137
Questionable       2
Boatomg            1
Name: type, dtype: int64

In [39]:
Type.value_counts(normalize=True)

Unprovoked      0.729597
Provoked        0.091140
Invalid         0.086853
Sea Disaster    0.037949
Boating         0.032232
Boat            0.021753
Questionable    0.000318
Boatomg         0.000159
Name: type, dtype: float64

In [40]:
Type.sort_values(ascending=False)

6301     Unprovoked
2331     Unprovoked
2321     Unprovoked
2322     Unprovoked
2323     Unprovoked
            ...
25718           NaN
25719           NaN
25720           NaN
25721           NaN
25722           NaN
Name: type, Length: 25723, dtype: object

In [41]:
Country  = attack_vars['country']
Country.value_counts()

USA                  2229
AUSTRALIA            1338
SOUTH AFRICA          579
PAPUA NEW GUINEA      134
NEW ZEALAND           128
                     ...
TASMAN SEA              1
ITALY / CROATIA         1
RED SEA                 1
ADMIRALTY ISLANDS       1
ANDAMAN ISLANDS         1
Name: country, Length: 212, dtype: int64

In [42]:
Location = attack['location']
Location

0           Oceanside, San Diego County
1        St. Simon Island, Glynn County
2                          Habush, Oahu
3                    Arrawarra Headland
4                              La Ticla
                      ...
25718                               NaN
25719                               NaN
25720                               NaN
25721                               NaN
25722                               NaN
Name: location, Length: 25723, dtype: object

In [43]:
Location.value_counts()

New Smyrna Beach, Volusia County                           163
Daytona Beach, Volusia County                               30
Ponce Inlet, Volusia County                                 20
Melbourne Beach, Brevard County                             18
Myrtle Beach, Horry County                                  17
                                                          ...
Portsea Beach, near entrance to Port Phillip Bay             1
Charlie Young Beach, Kihei, Maui                             1
Abalone Point, Westport Union Landing, Mendocino County      1
Kalapiai, Kombe                                              1
Fernano de Noronha                                           1
Name: location, Length: 4108, dtype: int64

In [44]:
attack[attack.location=='New Smyrna Beach, Volusia County']

,case_number,date,year,time,country,area,location,type,activity,name,...,species_,investigator_or_source,pdf,href_formula,href,case_number.1,case_number.2,original_order,unnamed:_22,unnamed:_23
95,2017.09.02.a,02-Sep-2017,2017.0,10h44,USA,Florida,"New Smyrna Beach, Volusia County",Unprovoked,Surfing,Chase Elmore,...,NaN,"Click Orlando, 9/2/2017",2017.09.02.a-Elmore.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2017.09.02.a,2017.09.02.a,6208.0,NaN,NaN
164,2017.04.05,05-Apr-2017,2017.0,13h00,USA,Florida,"New Smyrna Beach, Volusia County",Unprovoked,Swimming,Melanie Lawson,...,NaN,"AJC, 4/5/2017",2017.04.05-NSB.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2017.04.05,2017.04.05,6139.0,NaN,NaN
167,2017.03.27,27-Mar-2017,2017.0,10h00,USA,Florida,"New Smyrna Beach, Volusia County",Unprovoked,Surfing,Robert Nesbit,...,NaN,"Orlando Sentinel, 3/27/2017",2017.03.27-NSB.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2017.03.27,2017.03.27,6136.0,NaN,NaN
195,2016.12.11.a,11-Dec-2016,2016.0,Afternoon,USA,Florida,"New Smyrna Beach, Volusia County",Invalid,Surfing,Shane Garthwait,...,Shark involvement not confirmed,"News Journal, 12/15/2016",2016.12.11.a-Garthwait.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.12.11.a,2016.12.11.a,6108.0,NaN,NaN
209,2016.10.02,02-Oct-2016,2016.0,11h30,USA,Florida,"New Smyrna Beach, Volusia County",Unprovoked,Surfing,male,...,NaN,"Orlando Sentinel, 10/2/2016",2016.10.02-NSB.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.10.02,2016.10.02,6094.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3265,1974.06.20,20-Jun-1974,1974.0,08h55,USA,Florida,"New Smyrna Beach, Volusia County",Unprovoked,Swimming,Olive Heaton,...,NaN,"Daytona Beach Morning Journal, 6/21/1974",1974.06.20-Heaton.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1974.06.20,1974.06.20,3038.0,NaN,NaN
3322,1972.10.14.a,14-Oct-1972,1972.0,NaN,USA,Florida,"New Smyrna Beach, Volusia County",Unprovoked,Surfing,Kenneth Hiles,...,NaN,"Daytona Beach Morning Journal, 10/18/1972",1972.10.14.a-Hiles.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1972.10.14.a,1972.10.14.a,2981.0,NaN,NaN
3423,1969.08.02,02-Aug-1969,1969.0,Morning,USA,Florida,"New Smyrna Beach, Volusia County",Unprovoked,Surfing,John. Wilson,...,NaN,"St. Petersburg Times, 8/3/1969; H.D. Baldridge...",1969.08.02-Wilson.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1969.08.02,1969.08.02,2880.0,NaN,NaN
3744,1963.07.15,15-Jul-1963,1963.0,Late afternoon,USA,Florida,"New Smyrna Beach, Volusia County",Unprovoked,Bathing,Robert Driscoll,...,NaN,"Orlando Sentinel, 7/16/1963",1963.07.15-Driscoll.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1963.07.15,1963.07.15,2559.0,NaN,NaN
3813,1962.06.17,17-Jun-1962,1962.0,11h50,USA,Florida,"New Smyrna Beach, Volusia County",Unprovoked,Rolled off raft,Barry Bryan Reed,...,1.8 m [6'] shark,"D. Reed; Hobart Gazette, 6/28/ 1962 s",1962.06.17-BarryReed.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1962.06.17,1962.06.17,2490.0,NaN,NaN

In [45]:
attack[attack.location=='New Smyrna Beach, Volusia County'].groupby('type').size()

type
Invalid         3
Provoked        3
Unprovoked    157
dtype: int64

In [47]:
attack[attack.country=='USA'].groupby('type').size()
attack.head()

,case_number,date,year,time,country,area,location,type,activity,name,...,pdf,href_formula,href,case_number.1,case_number.2,original_order,unnamed:_22,unnamed:_23,new_age,new_year
0,2018.06.25,25-Jun-2018,2018.0,18h00,USA,California,"Oceanside, San Diego County",Boating,Paddling,Julie Wolfe,...,2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN,57.0,2018.0
1,2018.06.18,18-Jun-2018,2018.0,14h00 -15h00,USA,Georgia,"St. Simon Island, Glynn County",Unprovoked,Standing,Adyson McNeely,...,2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN,11.0,2018.0
2,2018.06.09,09-Jun-2018,2018.0,07h45,USA,Hawaii,"Habush, Oahu",Invalid,Surfing,John Denges,...,2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN,48.0,2018.0
3,2018.06.08,08-Jun-2018,2018.0,NaN,AUSTRALIA,New South Wales,Arrawarra Headland,Unprovoked,Surfing,male,...,2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,NaN,NaN,NaN,2018.0
4,2018.06.04,04-Jun-2018,2018.0,NaN,MEXICO,Colima,La Ticla,Provoked,Free diving,Gustavo Ramos,...,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,NaN,NaN,NaN,2018.0

In [46]:
attack[attack.country=='USA'].groupby('species_').size()
attack.head()

,case_number,date,year,time,country,area,location,type,activity,name,...,pdf,href_formula,href,case_number.1,case_number.2,original_order,unnamed:_22,unnamed:_23,new_age,new_year
0,2018.06.25,25-Jun-2018,2018.0,18h00,USA,California,"Oceanside, San Diego County",Boating,Paddling,Julie Wolfe,...,2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN,57.0,2018.0
1,2018.06.18,18-Jun-2018,2018.0,14h00 -15h00,USA,Georgia,"St. Simon Island, Glynn County",Unprovoked,Standing,Adyson McNeely,...,2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN,11.0,2018.0
2,2018.06.09,09-Jun-2018,2018.0,07h45,USA,Hawaii,"Habush, Oahu",Invalid,Surfing,John Denges,...,2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN,48.0,2018.0
3,2018.06.08,08-Jun-2018,2018.0,NaN,AUSTRALIA,New South Wales,Arrawarra Headland,Unprovoked,Surfing,male,...,2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,NaN,NaN,NaN,2018.0
4,2018.06.04,04-Jun-2018,2018.0,NaN,MEXICO,Colima,La Ticla,Provoked,Free diving,Gustavo Ramos,...,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,NaN,NaN,NaN,2018.0

In [50]:
attack[attack.type=='Unprovoked'].groupby('species_').size()
attack.head()

,case_number,date,year,time,country,area,location,type,activity,name,...,pdf,href_formula,href,case_number.1,case_number.2,original_order,unnamed:_22,unnamed:_23,new_age,new_year
0,2018.06.25,25-Jun-2018,2018.0,18h00,USA,California,"Oceanside, San Diego County",Boating,Paddling,Julie Wolfe,...,2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN,57.0,2018.0
1,2018.06.18,18-Jun-2018,2018.0,14h00 -15h00,USA,Georgia,"St. Simon Island, Glynn County",Unprovoked,Standing,Adyson McNeely,...,2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN,11.0,2018.0
2,2018.06.09,09-Jun-2018,2018.0,07h45,USA,Hawaii,"Habush, Oahu",Invalid,Surfing,John Denges,...,2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN,48.0,2018.0
3,2018.06.08,08-Jun-2018,2018.0,NaN,AUSTRALIA,New South Wales,Arrawarra Headland,Unprovoked,Surfing,male,...,2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,NaN,NaN,NaN,2018.0
4,2018.06.04,04-Jun-2018,2018.0,NaN,MEXICO,Colima,La Ticla,Provoked,Free diving,Gustavo Ramos,...,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,NaN,NaN,NaN,2018.0

In [47]:
Location.value_counts(normalize=True)

New Smyrna Beach, Volusia County                           0.028289
Daytona Beach, Volusia County                              0.005207
Ponce Inlet, Volusia County                                0.003471
Melbourne Beach, Brevard County                            0.003124
Myrtle Beach, Horry County                                 0.002950
                                                             ...
Portsea Beach, near entrance to Port Phillip Bay           0.000174
Charlie Young Beach, Kihei, Maui                           0.000174
Abalone Point, Westport Union Landing, Mendocino County    0.000174
Kalapiai, Kombe                                            0.000174
Fernano de Noronha                                         0.000174
Name: location, Length: 4108, dtype: float64

In [3]:
# Qual a idade média das vítimas de ataques
#limpar coluna idade

attack.Age

0         57
1         11
2         48
3        NaN
4        NaN
        ...
25718    NaN
25719    NaN
25720    NaN
25721    NaN
25722    NaN
Name: Age, Length: 25723, dtype: object

In [4]:
pd.to_numeric(attack.Age, errors='coerce')

0        57.0
1        11.0
2        48.0
3         NaN
4         NaN
         ...
25718     NaN
25719     NaN
25720     NaN
25721     NaN
25722     NaN
Name: Age, Length: 25723, dtype: float64

In [6]:
attack['new_age'] = pd.to_numeric(attack.Age, errors='coerce')

In [7]:
attack.head()

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23,new_age
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN,57.0
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,...,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN,11.0
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,...,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN,48.0
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,...,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,NaN,NaN,NaN
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,...,A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,NaN,NaN,NaN

In [7]:
attack.describe()

              Year  original order      new_age
count  6300.000000     6309.000000  3369.000000
mean   1927.272381     3155.999683    27.368359
std     281.116308     1821.396206    13.907779
min       0.000000        2.000000     1.000000
25%    1942.000000     1579.000000    17.000000
50%    1977.000000     3156.000000    24.000000
75%    2005.000000     4733.000000    35.000000
max    2018.000000     6310.000000    87.000000

In [11]:
attack['new_date'] = pd.to_numeric(attack.date, errors='coerce')
attack.head()

,case_number,date,year,type,country,area,location,activity,name,sex_,...,pdf,href_formula,href,case_number.1,case_number.2,original_order,unnamed:_22,unnamed:_23,new_age,new_date
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN,57.0,NaN
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,...,2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN,11.0,NaN
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,...,2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN,48.0,NaN
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,...,2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,NaN,NaN,NaN,NaN
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,...,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,NaN,NaN,NaN,NaN

In [12]:
attack.describe()

              year  original_order      new_age      new_date
count  6300.000000     6309.000000  3369.000000    287.000000
mean   1927.272381     3155.999683    27.368359   2058.623693
std     281.116308     1821.396206    13.907779   1580.758729
min       0.000000        2.000000     1.000000   1555.000000
25%    1942.000000     1579.000000    17.000000   1904.000000
50%    1977.000000     3156.000000    24.000000   1944.000000
75%    2005.000000     4733.000000    35.000000   1959.000000
max    2018.000000     6310.000000    87.000000  21764.000000

In [13]:
attack.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25723 entries, 0 to 25722
Data columns (total 26 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   case_number             8702 non-null   object
 1   date                    6302 non-null   object
 2   year                    6300 non-null   float64
 3   type                    6298 non-null   object
 4   country                 6252 non-null   object
 5   area                    5847 non-null   object
 6   location                5762 non-null   object
 7   activity                5758 non-null   object
 8   name                    6092 non-null   object
 9   sex_                    5737 non-null   object
 10  age                     3471 non-null   object
 11  injury                  6274 non-null   object
 12  fatal_(y/n)             5763 non-null   object
 13  time                    2948 non-null   object
 14  species_                3464 non-null   object
 15  investigator_or_source  6285 non-null   object
 16  pdf                     6302 non-null   object
 17  href_formula            6301 non-null   object
 18  href                    6302 non-null   object
 19  case_number.1           6302 non-null   object
 20  case_number.2           6302 non-null   object
 21  original_order          6309 non-null   float64
 22  unnamed:_22             1 non-null      object
 23  unnamed:_23             2 non-null      object
 24  new_age                 3369 non-null   float64
 25  new_date                287 non-null    float64
dtypes: float64(4), object(22)
memory usage: 5.1+ MB

In [21]:
attack_date = attack.query('type == "Provoked"' and 'year > 2012 and year <= 2018')
attack_date

,case_number,date,year,type,country,area,location,activity,name,sex_,...,pdf,href_formula,href,case_number.1,case_number.2,original_order,unnamed:_22,unnamed:_23,new_age,new_date
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN,57.0,NaN
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,...,2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN,11.0,NaN
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,...,2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN,48.0,NaN
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,...,2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,NaN,NaN,NaN,NaN
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,...,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
707,2013.01.25,25-Jan-2013,2013.0,Unprovoked,AUSTRALIA,Queensland,Noosa,Surfing,Matthew Cassaigne,M,...,2013.01.25-Cassaigne.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2013.01.25,2013.01.25,5596.0,NaN,NaN,NaN,NaN
708,2013.01.21.R,Reported 21-Jan-2013,2013.0,Invalid,AUSTRALIA,Queensland,Bullcock Beach,Dragging stranded shark into deeper water,Paul Marshallsea,M,...,2013.01.21.R-Marshallsea.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2013.01.21.R,2013.01.21.R,5595.0,NaN,NaN,62.0,NaN
709,2013.01.16,16-Jan-2013,2013.0,Unprovoked,USA,Hawaii,Kiholo Bay,Surfing,Paul Santos,M,...,2013.01.16-Santos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2013.01.16,2013.01.16,5594.0,NaN,NaN,43.0,NaN
710,2013.01.13,13-Jan-2013,2013.0,Unprovoked,NEW ZEALAND,Mercury Islands,Great Mercury Island,Spearfishing,Kim Bade,M,...,2013.01.13-Bade.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2013.01.13,2013.01.13,5593.0,NaN,NaN,NaN,NaN
711,2013.01.05,05-Jan-2013,2013.0,Unprovoked,AUSTRALIA,Western Australia,Near Legendre Island,Spearfishing / Free diving,Jake Swaffer,M,...,2013.01.05-Swaffer.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2013.01.05,2013.01.05,5592.0,NaN,NaN,26.0,NaN

In [44]:
#Onde teve ataque provocado
attack.groupby(['Location', 'Type']).size().sort_values(ascending=False)

Location                                        Type
New Smyrna Beach, Volusia County                Unprovoked    157
Daytona Beach, Volusia County                   Unprovoked     30
Ponce Inlet, Volusia County                     Unprovoked     18
Melbourne Beach, Brevard County                 Unprovoked     17
Myrtle Beach, Horry County                      Unprovoked     15
                                                             ...
Off Palos Verdes peninsula, Los Angeles County  Boating         1
Off Palos Verdes Estates, Los Angeles           Boat            1
Off Ocean City, Cape May County                 Provoked        1
Off North Island                                Invalid         1
                                                Unprovoked      1
Length: 4424, dtype: int64

In [45]:
attack.groupby(['Location', 'Type']).size().sort_values(ascending=False).unstack()

Type,Boat,Boating,Boatomg,Invalid,Provoked,Questionable,Sea Disaster,Unprovoked
Location,,,,,,,,
"New Smyrna Beach, Volusia County",NaN,NaN,NaN,3.0,3.0,NaN,NaN,157.0
"Daytona Beach, Volusia County",NaN,NaN,NaN,NaN,NaN,NaN,NaN,30.0
"Ponce Inlet, Volusia County",NaN,NaN,NaN,NaN,2.0,NaN,NaN,18.0
"Melbourne Beach, Brevard County",NaN,NaN,NaN,1.0,NaN,NaN,NaN,17.0
"Myrtle Beach, Horry County",NaN,NaN,NaN,2.0,NaN,NaN,NaN,15.0
...,...,...,...,...,...,...,...,...
"Off Palos Verdes peninsula, Los Angeles County",NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN
"Off Palos Verdes Estates, Los Angeles",1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"Off Ocean City, Cape May County",NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN
Off North Island,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN
,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0